html,body {
    height: 100%;
}

body {
    background: #0f3854;
    background: radial-gradient(ellipse at center,  #0c2025  0%, #000000 70%);
    background-size: 100%;
}

#timer {
    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px rgb(65, 191, 230),  0 0 20px rgba(10, 175, 230, 0);
}

.days {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}

.hours {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}

.minutes {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}

.seconds {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
}

.time__id {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.time__id::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size: 14px;
}

.time__id:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -35px;
}

.timer__items {
    display: flex;
}